.idea
.DS_Store
__pycache__
test.py
.ipynb_checkpoints

venv/

test.py
.vscode/

datafiles/
job4/letter/gb_softmax_test_x.pkl
job4/letter/gb_softmax_test_y.pkl 
job4/letter/rating_test_y.pkl 
job4/letter/rating_test_x.pkl

crawling/.ipynb_checkpoints
datafiles/.ipynb_checkpoints
crawling/.ipynb_checkpoints
crawling/src/.ipynb_checkpoints
crawling/src/__pycache__
datafiles/raw-data/.DS_Store
