{% extends 'base_auth.html' %}

{% load static %}

{% load socialaccount %}

{% providers_media_js %}

{% block title %}JOB4 | Login{% endblock %}

{% block heading %}PLEASE LOGIN TO JOB4{% endblock %}

{% block simple-explain %}Welcome to Job4 ! 취업 뽀개기? 싹 가능 !{% endblock %}

{% block content %}
<form action="{% url 'myauth:login_request' %}" id="loginForm" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label" for="user-id">ID</label>
        <input type="text" placeholder="example@gmail.com" title="Please enter you id" required="" value=""
               name="user-id" id="user-id" class="form-control">
        <span class="help-block small">Your unique id to app</span>
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input type="password" title="Please enter your password" placeholder="******" required="" value=""
               name="password" id="password" class="form-control">
        <span class="help-block small">Your strong password</span>
    </div>
    <div class="checkbox login-checkbox">
        <label>
            <input type="checkbox" class="i-checks" name="auto"> Remember me </label>
        <span class="help-block small">if you don't check this option, your login connection will expire in 30 minutes.</span>
    </div>
    <div class="text-center">
        <span class="help-block small" style="visibility:hidden;">hello</span>
        <input type="submit" class="btn btn-success btn-block loginbtn" value="Login">
        <a class="btn btn-default btn-block" href="{% url 'myauth:register' %}">Register</a>
    </div>
    <a href="{% url 'myauth:recover_id' %}" class="text-small id-recover" style="background: none; color: #737373"> Forgot ID </a>
    <a href="{% url 'myauth:recover_pw' %}" class="text-small pull-right pw-recover" style="background: none; color: #737373"> Forgot Password </a>
</form>

<div class="text-center">
    <a href="{% url 'kakao_login' %}" class="button btn-social basic-ele-mg-b-10 span-left kakao-login" style="background: none;"><img
                src="/static/img/kakao_large.png"></a>
<a href="{% provider_login_url 'naver' %}" class="button btn-social basic-ele-mg-b-10 pull-right naver-login" style="background: none;"><img
                src="/static/img/naver_Green.PNG"></a>
</div>
{% endblock %}
